<div class="profile-page">
    <!-- Body -->
    <main class="profile-main">
        <div class="profile-card">
            <div class="card-header">
                <div class="avatar-container">
                    @if (isEditing ? formData.avatar : user.avatar) {
                        <img [src]="isEditing ? formData.avatar : user.avatar" class="avatar-img" />
                    }
                    @if (!(isEditing ? formData.avatar : user.avatar)){
                        <div class="avatar-fallback">👤</div>
                    }

                    @if (isEditing){
                        <label class="avatar-upload">
                            📷
                            <input type="file" accept="image/*" (change)="handleAvatarChange($event)" hidden />
                        </label>
                    }

                </div>
                <h2 class="profile-name">{{ isEditing ? 'Modifier le profil' : user.name }}</h2>
                <p class="profile-role">{{ user.role === 'seller' ? 'Vendeur' : 'Acheteur' }}</p>
            </div>

            <div class="card-content">
                <!-- Nom -->
                <label>Nom complet</label>
                <input [(ngModel)]="formData.name" [disabled]="!isEditing" />

                <!-- Email -->
                <label>Email</label>
                <input type="email" [(ngModel)]="formData.email" [disabled]="!isEditing" />

                <!-- Mot de passe -->
                @if (isEditing){
                    <div >
                        <label>Nouveau mot de passe (optionnel)</label>
                        <input type="password" [(ngModel)]="formData.password" placeholder="Laisser vide pour ne pas changer" />
                    </div>
                }
                <!-- Rôle -->
                <label>Rôle</label>
                <select [(ngModel)]="formData.role" [disabled]="!isEditing">
                    <option value="buyer">Acheteur</option>
                    <option value="seller">Vendeur</option>
                </select>

                <!-- Actions -->
                <div class="actions">
                    @if (!isEditing) {
                        <button class="btn-primary" (click)="editProfile()">Modifier le profil</button>
                    }
                    @if (isEditing){
                        <ng-container >
                            <button class="btn-outline" (click)="cancelEdit()">Annuler</button>
                            <button class="btn-save" (click)="saveProfile()">💾 Sauvegarder</button>
                        </ng-container>
                    }
                </div>
            </div>
        </div>
    </main>
</div>
