.idea
logs/
# Environment variables with secrets
.env
.env.local
.env.*.local

*.md
*/**/*.md
*.log
*/**/*.log
*.txt
*/**/*.txt
*.sh
*/**/*.sh

!README.md
!*/**/README.md
!analyze-sonar.sh

target/
*/**/target/
