services:
    mongodb:
        image: mongo:latest
        container_name: mongo-database
        ports:
            -   "27017:27017"
        volumes:
            -   mongodb_data:/data/db
        environment:
            -   MONGO_INITDB_ROOT_USERNAME=${DB_USER}
            -   MONGO_INITDB_ROOT_PASSWORD=${DB_PASSWORD}
            -   MONGO_INITDB_DATABASE=${DB_NAME}
        networks:
            -   buy01-network
        healthcheck:
            test: echo 'db.runCommand("pring").ok' | mongosh localhost:27017/test -quiet
            interval: 10s
            timeout: 10s
            retries: 2
    zookeeper:
        image: confluentinc/cp-zookeeper:7.2.15
        environment:
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 3000
    kafka1:
        image: confluentinc/cp-kafka:7.2.15
        depends_on:
            -   zookeeper
        ports:
            -   "9092:9092"
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
            KAFKA_AUTO_CREATE_TOPICS_ENABLE: true
    kafka2:
        image: confluentinc/cp-kafka:7.2.15
        depends_on:
            -   zookeeper
        ports:
            - "9093:9093"
        environment:
            KAFKA_BROKER_ID: 2
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9093
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
            KAFKA_AUTO_CREATE_TOPICS_ENABLE: true

volumes:
    mongodb_data:

networks:
    buy01-network:
        driver: bridge