<aside class="sidebar">
    <!-- Logo -->
    <a [routerLink]="['/']" class="sidebar-logo">
        <h1>
            BUY-01
        </h1>
    </a>

    <!-- Profil -->
    <div class="sidebar-profile">
        <img class="avatar" src="{{ user?.avatar === null ? 'assets/podium.jpg' : user?.avatar }}" alt="avatar">
        <h4 class="username">{{ user?.name }}</h4>
        <p class="email">{{ user?.email }}</p>
    </div>

    <!-- Navigation -->
    <nav class="sidebar-nav">
        <a routerLink="/" class="nav-link ">
            <span></span>
            Produits
        </a>
        <a routerLink="/dashboard" class="nav-link active">
            <span>📊</span>
            Dashboard
        </a>
        <a routerLink="/profile" class="nav-link">
            <span>👤</span>
            Accounts
        </a>
    </nav>


    <!-- Bouton Logout -->
    <div class="sidebar-footer">
        @if (!isAuthenticated) {
            <a routerLink="/login" class="nav-link" >
                <span>🚪</span>
                Connexion
            </a>
        }

        @if (isAuthenticated) {
            <button class="logout-btn" (click)="onLogout()">
                <span>🚪</span>
                Déconnexion
            </button>
        }
    </div>

</aside>
